table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: larger;
}
/*
.middle_line {
    border-bottom: 2px solid black;
}
*/
th {
    width: 25px;
    height: 25px;
}

td {
    width: 25px;
    height: 25px;
}

.input-celija {
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    width: 25px;
    height: 25px;
    color: black;
}

.zadani_brojevi {
    text-align: center;
    font-weight: bold;
    color: black;
}

.dodani_brojevi {
    text-align: center;
    font-weight: lighter;
    color: blue;
}

.nevalidni_dodani_brojevi {
    text-align: center;
    font-weight: lighter;
    color: red;
}

.vertikalna_linija {
    border-right: 2px solid black;
}

.horizontalna_linija {
    border-bottom: 2px solid black;
}

.valid-number {
    font-size: small;
    color: black;
}

/*
.ispis-tablice {
    width: 100%;
    border-collapse: collapse;
}

.ispis-tablice td {
    width: 50px;
    padding: 5px;
    border: 1px solid black;
}


.input-tablica {
    width: 20px;
}
*/
.redak-td {
    width: 50px;
    height: 50px;
}
/*
.redak-tr {
    width: 25px;
}
