table {
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.selected {
    border: 2px solid red;
}

.color-palette {
    display: flex;
    flex-direction: column;
    /* Display color options vertically */
    margin-left: 20px;
}

.color-option {
    display: flex;
    align-items: center;
    /* Align radio button and color rectangle vertically */
    margin: 5px 0;
    /* Adjust margin */
}

.color-option input[type="radio"] {
    margin-right: 10px;
    /* Add space between radio button and color rectangle */
}

.color-option label {
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    /* Add transparent border */
    border-radius: 5px;
    /* Adjust border radius to make rectangles */
    cursor: pointer;
}

.color-option input[type="radio"]:checked+label {
    border-color: #000;
    /* Change border color when selected */
}