body {
    font-family: Arial, sans-serif;
}

#gameSelect {
    margin-bottom: 10px;
}

#colorPalette {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.color-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-option label {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: none;
    display: inline-block;
}

#gameBoard {
    border-collapse: collapse;
}

#gameBoard td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

#gameBoard td.selected {
    border: 2px solid red;
}