body {
    font-family: Arial, sans-serif;
}

#odabranaPloca {
    margin-bottom: 10px;
}

#paletaBoja {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.color-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-option label {
    width: 50px;
    height: 20px;
    margin-left: 5px;
    border: none;
    display: inline-block;
}

.color-options-container {
    display: flex;
    /* Use flexbox to arrange items horizontally */
}

#Ploca {
    border-collapse: collapse;
}

#Ploca td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

#Ploca td.selected {
    border: 2px solid red;
}